

body {
	background-image: url('https://i.postimg.cc/FK420fVY/cielo-azul-fondo-nubes-cumulos-concepto-naturaleza-fondos-meteorologicos-atmosfera-289152-2320.jpg');
	background-size: cover;
	background-position: center;
	font-family: Arial, sans-serif;
}

.contenedor {
	margin: 50px auto;
	padding: 20px;
	background-color: rgba(68, 212, 223, 0.8);
	border-radius: 10px;
	max-width: 600px;
}

h1 {
	text-align: center;
}


.temperatura {
	font-size: 48px;
	font-weight: bold;
}

.sensacion {
	font-size: 24px;
}

.estado {
	font-size: 24px;
}
.cuadro{
	width: 300px;
	height: 300px;
	background-color: white;
}
#info{
	display: flex;
	flex-direction: row;
	gap: 10px;
	justify-content: space-evenly;
}