@import url('https://fonts.googleapis.com/css2?family=Rakkas&display=swap');


body {
	background-image: url('https://c4.wallpaperflare.com/wallpaper/639/794/471/azul-blanca-cielo-naturaleza-wallpaper-preview.jpg');
	background-size: cover;
	background-position: center;
	font-family: 'Open Sans', Times, serif, sans-serif;
}

.contenedor {
	margin: 92px auto;
	padding: 20px;
	background-color: rgba(237, 242, 243, 0.904);
	background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS2RTInHnUVnLxMZc4_qb5WRS0CoxZnjUIfI9TCBbfmhpJglrFRV_T6-i-Ov0mZX7rsMxw&usqp=CAU");
	border-radius : 20px;
	max-width : 700px;
	background-size: cover;

}

h1 {
	text-align: center;
	font-family: "Rakkas";
	font-size : 45px;
    background-color: rgba(247, 247, 243, 0.63);
	color: rgb(6, 38, 80);

}
h3 {
	text-align: center;
	font-size: 25px;
	color: #363532;
}


.cuadro{
	width: 300px;
	height: 300px;
	background-color: white;
	background-image: url("https://static.vecteezy.com/system/resources/thumbnails/003/127/954/small/abstract-template-blue-background-white-squares-free-vector.jpg");
	font-size: 24px;
	font-weight: bold;
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	border-radius: 20px;
	padding: 10px;
	text-align: end;

}
#info{
	display: flex;
	flex-direction: row;
	gap: 5px;
	

}
img{
	width: 100px;
	height: 100px;
}
.minmax{
	display: flex;
	flex-direction: row;
	text-align: center;
}
#buscador{
	padding: 10 40px 10 25px;
    position: center;
    margin: 0 auto;
    padding-top: 6px;
    height: 40px;
    align-content: end;
    align-items: end;
	text-align: center;
	border-radius: 20px;
	border: none;


}
#boton{
	border-radius: 12px;
	font-size: 10px;
	width:50px;
	height: 30px;
	border: none;

	
	
}
